name: diki-uploader

on:
  release:
    types:
      - published
jobs:
  upload_diki_binaries_to_release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4.1.7
      - uses: actions/setup-go@cdcb36043654635271a94b9a6d1392de5bb323a7 # v5.0.1
        with:
          go-version: '1.22.5'
      - name: Build the binary-files
        id: build_binary_files
        run: |
          sudo apt-get update
          sudo apt-get install make -y
          make build
          echo "latest_release_filtered_tag=${GITHUB_REF##*/}" >> $GITHUB_ENV
      - name: Upload binaries to release
        uses: AButler/upload-release-assets@c94805dc72e4b20745f543da0f62eaee7722df7a # v2.0.2
        with:
          files: 'bin/diki-darwin-amd64;bin/diki-darwin-arm64;bin/diki-linux-amd64;bin/diki-linux-arm64;bin/diki-windows-amd64'
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          release-tag: ${{ env.latest_release_filtered_tag }}
